:root {
  --math-init-font-size:    20px;
}

span.math, span.math span { /* Don't want to modify the display of tables. */
  vertical-align:   middle;
  position:         relative; /* 2020-03-14: Really usefull? */
  display:          inline-block;
  break-inside:     avoid;
}

span.math:not(table.matrix *[rowspan] > *) {
  text-align:       center;
  font-family:
    TeX Gyre Termes, FreeSerif, 
    Times New Roman, serif;
  font-size:        var(--math-init-font-size);
  line-height:      1;
}

span.math span.math {
  font-size:        inherit;
}

span.frac {
  vertical-align:   middle;
  text-align:       center;
  padding-left:     2pt;
  padding-right:    2pt;
}

span.frac-num, span.frac-den {
  width:            100%; /* 2020-03-13: not sure if this always works. */
  padding-left:     2pt;
  padding-right:    2pt;
}

span.frac-den {
  border-top:       solid 1pt;
}

span.radicand { /* The expression to evaluate the radical for. */
  border-top:       solid 1pt;
  padding:          1pt 0.0em;
}

span.radical { /* The radical sign just before the expression. */
}

/* 2020-03-13: deco: desize content, enco: enlarge content. */

/* decoration, superscript, subscript. */
span.deco, sup, sub {
  display:          inline-block;
  font-size:        59.76%; /* rsqrt(2.8) */
}

span.enco { /* encompass. */
  font-size:        167.3%; /* sqrt(2.8) */
}

span.enco2 { /* encompass twice. */
  font-size:        280%;
  padding:          0.2ex 0.0ex;
}

span.deco, span.enco {
  vertical-align:   middle;
}

span.aleft {
  text-align:       left;
}

span.aright {
  text-align:       right;
}

table.matrix {
  border-spacing:   6pt;
}

table.matrix *[rowspan] > *,
table.matrix *[rowspan] {
  line-height:      0.9;
  font-family:
    TeX Gyre Termes, FreeSerif,
    Times New Roman, serif;
}

div.p { /* HTML5 doesn't seem to like nesting table in paragraphs. */
  margin:           1.12em 0;
}
